/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86e3ce, #fcb69f);
    background-size: 800% 800%;
    color: #333;
    padding-top: 80px;
    animation: gradientAnimation 12s ease infinite;
}

/* Navbar styling */
.navbar {
    background-color: #343a40;
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: white !important;
}

/* Heading */
h1 {
    color: #007bff;
    margin-bottom: 20px;
}

/* Form styling */
.form-control {
    margin-bottom: 10px;
}

/* Button styling */
.btn-primary {
    background-color: #007bff;
    border: none;
}

/* List group styling */
.list-group-item {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Animation for background gradient */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
